In [1]:
from data_tidy import read_a_season,read_all_game

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [6]:
read_a_season("../nhl_data/",2016).to_csv('./tidy_{season}.csv'.format(season=2016), sep=',')

100%|███████████████████████████████████████████| 6433/6433 [00:27<00:00, 236.83it/s]

In [5]:
result = pd.DataFrame()
for i in [2018,2019,2020]:
    temp = read_a_season("../nhl_data/",i)
    result = pd.concat([result,temp],ignore_index=True)
result.to_csv('./tidy_{season}.csv'.format(season="2018-2020"), sep=',')

100%|███████████████████████████████████████████| 6433/6433 [00:28<00:00, 223.61it/s]
100%|███████████████████████████████████████████| 6433/6433 [00:26<00:00, 242.53it/s]
100%|███████████████████████████████████████████| 6433/6433 [00:16<00:00, 392.03it/s]

In [7]:
season_2016_path = "./tidy_2016.csv"
season_20182020_path = "./tidy_20182020.csv"

In [8]:
df_2016 = pd.read_csv(season_2016_path).reset_index()
df_2016

,index,Unnamed: 0,game_id,event_idx,play_type,shot_type,shot_dist,game_time,team_home,team_away,goals_home,goals_away,attack_team_name,period,period_time_rem,coordinate,shooter_name,goalie_name,empty_Net,strength
0,0,0,2016020594,5,Shot,Wrist Shot,57.775427,2017-01-08T00:00:00Z,Toronto Maple Leafs,Montréal Canadiens,0,0,Montréal Canadiens,1,19:45,"{'x': 36.0, 'y': -23.0}",Shea Weber,Frederik Andersen,NaN,NaN
1,1,1,2016020594,6,Goal,Wrist Shot,26.000000,2017-01-08T00:00:00Z,Toronto Maple Leafs,Montréal Canadiens,0,1,Montréal Canadiens,1,19:40,"{'x': 63.0, 'y': 0.0}",Max Pacioretty,Frederik Andersen,False,EVEN
2,2,2,2016020594,14,Shot,Tip-In,10.000000,2017-01-08T00:00:00Z,Toronto Maple Leafs,Montréal Canadiens,0,1,Montréal Canadiens,1,17:59,"{'x': 79.0, 'y': 0.0}",Michael McCarron,Frederik Andersen,NaN,NaN
3,3,3,2016020594,16,Shot,Wrist Shot,25.612497,2017-01-08T00:00:00Z,Toronto Maple Leafs,Montréal Canadiens,0,1,Toronto Maple Leafs,1,17:26,"{'x': -69.0, 'y': -16.0}",Leo Komarov,Carey Price,NaN,NaN
4,4,4,2016020594,17,Shot,Wrist Shot,28.635642,2017-01-08T00:00:00Z,Toronto Maple Leafs,Montréal Canadiens,0,1,Toronto Maple Leafs,1,17:15,"{'x': -63.0, 'y': -12.0}",Nazem Kadri,Carey Price,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80394,80394,80394,2016020295,253,Goal,Wrist Shot,9.433981,2016-11-24T01:00:00Z,Nashville Predators,Dallas Stars,4,1,Nashville Predators,3,08:51,"{'x': 81.0, 'y': 5.0}",Craig Smith,Kari Lehtonen,False,EVEN
80395,80395,80395,2016020295,255,Shot,Wrist Shot,33.376639,2016-11-24T01:00:00Z,Nashville Predators,Dallas Stars,4,1,Dallas Stars,3,08:33,"{'x': -84.0, 'y': 33.0}",Jason Spezza,Pekka Rinne,NaN,NaN
80396,80396,80396,2016020295,272,Shot,Snap Shot,59.008474,2016-11-24T01:00:00Z,Nashville Predators,Dallas Stars,4,1,Dallas Stars,3,03:52,"{'x': -30.0, 'y': -1.0}",Julius Honka,Pekka Rinne,NaN,NaN
80397,80397,80397,2016020295,282,Goal,Backhand,13.000000,2016-11-24T01:00:00Z,Nashville Predators,Dallas Stars,4,2,Dallas Stars,3,01:16,"{'x': -77.0, 'y': -5.0}",Brett Ritchie,Pekka Rinne,False,EVEN
80398,80398,80398,2016020295,287,Goal,Wrist Shot,38.078866,2016-11-24T01:00:00Z,Nashville Predators,Dallas Stars,5,2,Nashville Predators,3,00:16,"{'x': 52.0, 'y': 9.0}",James Neal,NaN,True,EVEN

In [67]:
df_2016_shots = df_2016.groupby(["attack_team_name","shot_type"]).agg("count").reset_index()
df_2016_shots = df_2016_shots.pivot(columns = "attack_team_name",index = "shot_type", values = "index")
df_2016_total = pd.DataFrame(df_2016_shots.sum(axis=1),columns = ["totals"])
df_2016_total

             totals
shot_type
Backhand       6560
Deflected      1005
Slap Shot     13520
Snap Shot     12733
Tip-In         3980
Wrap-around     843
Wrist Shot    41737

In [69]:
df_2016_goals = df_2016[df_2016["play_type"]=="Goal"]
df_2016_goals = df_2016_goals.groupby(["attack_team_name","shot_type"]).agg("count").reset_index()
df_2016_goals = df_2016_goals.pivot(columns = "attack_team_name",index = "shot_type", values = "index")
df_2016_goals_total = pd.DataFrame(df_2016_goals.sum(axis=1),columns = ["totals"])
df_2016_goals_total

             totals
shot_type
Backhand      698.0
Deflected     199.0
Slap Shot     829.0
Snap Shot    1172.0
Tip-In        713.0
Wrap-around    70.0
Wrist Shot   3681.0

In [78]:
df = df_2016_goals_total.div(df_2016_total)
df.rename(columns=["chance"])
# percent_2016 = pd.DataFrame(,columns = ["chance of goal"])
# # percent_2016

TypeError: 'list' object is not callable

In [104]:
a = np.array([10,10])
b = np.array([1,10])
np.linalg.norm(b-a)

9.0